<?xml version="1.0" encoding="utf-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="donquixote-annotation-parser">
      <directory>./tests/src</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
</phpunit>
